<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./js/vue.js"></script>
  <script src="./js/axios.min.js"></script>
  <script src="./js/vue-router.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.10/lib/index.css" />
  <script src="https://cdn.jsdelivr.net/npm/vant@2.10/lib/vant.min.js"></script>
  <link rel="stylesheet" href="./css/style.css">
  <style>
    html, body,.car_container{
        height: 100%;
        width: 100%;
    }
    #container{
      width: 100%;
      height: 92.8%;
    }
    .BMap_cpyCtrl {
      display: none;
    }
    .anchorBL{
      display: none;
    }
    .van-overlay{
      display: none;
    }
    #driving{
      max-height: 350px;
      overflow-y: auto;
    }
    #driving h1{
      display: none;
    }
    #riding{
      max-height: 350px;
      overflow-y: auto;
    }
    #riding h1{
      display: none;
    }
    .suggest-plan{
      background-color:rgb(47, 189, 81)!important
    }
    #result{
			max-height: 350px;
      overflow-y: auto;
    }
    #result h1{
      display: none;
    }
    .van-tabs__line{
      background-color: rgb(47, 189, 81);
    }
    .trans-title p:first-child{
      color: rgb(47, 189, 81)!important;
    }
    .navtrans-busstation{
      color: rgb(47, 189, 81)!important
    }
    .amap-call{
      font-size: 18px;
      text-decoration: none;
      background-color: #3d93fd;
    }
    .amap-call img{
      vertical-align: middle;
      width: 28px;
    }
  </style>
</head>
<body>
  <div id="app" class="car_container" style="background-color:#F7F7F7;" v-cloak>
    <van-nav-bar class="nav_bar" title="去这里" left-arrow @click-left="onClickLeft" style="background: #2FBD51;">
    </van-nav-bar>
    <div id="container" class="floating" ref="container"></div>
    <van-action-sheet 
      ref="reference"
      class="sheet_action"
      v-model="show"
      >
      <div class="content">
        <van-tabs v-model="activeName" @click="onTabsClick">
          <van-tab title="驾车" name="1">
            <div id="driving" ref="driving"></div>
          </van-tab>
          <van-tab title="公交" name="2">
            <div id="result" ref="result"></div>
          </van-tab>
          <van-tab title="骑行或步行" name="3">
            <div id="riding" ref="riding"></div>
          </van-tab>
        </van-tabs>
      </div>
    </van-action-sheet>
  </div>
  <script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=YVXeNpRyEhlayK1ufa7U79vwKhAmetUo"></script>
  <script src="//webapi.amap.com/maps?v=1.4.15&key=848ff3d8f1c52fe2eafe37919c1b418d"></script>
  <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=848ff3d8f1c52fe2eafe37919c1b418d"></script>
  <script type="text/javascript">
    let app =new Vue({
      el: '#app',
      data: {
        show:true,
        activeName: '1',
        toPoint:{},
        newToPoint:{},
        timeExploit:null,
        uptimeDate:null
      },
      computed: {},
      methods: {
        //高德经纬度转换百度
        tobdMap(x, y) {
          var x_pi = 3.14159265358979324 * 3000.0 / 180.0;
            var z = Math.sqrt(x * x + y * y) + 0.00002 * Math.sin(y * x_pi);
            var theta = Math.atan2(y, x) + 0.000003 * Math.cos(x * x_pi);
          var bd_lon = z * Math.cos(theta) + 0.0065;
            var bd_lat = z * Math.sin(theta) + 0.006;
          var pt =new BMapGL.Point(bd_lon, bd_lat);
          return pt;
        },
        webAmap(){
          let that = this
          var locDate = this.getQueryVariable('location')
          var newLocDate = this.getQueryVariable('newLocation')
          var pinot = locDate.split(',')
          var newPinot = newLocDate.split(',')
          that.toPoint.lat = Number(pinot[0])
          that.toPoint.lnt = Number(pinot[1])
          that.newToPoint.lat = Number(newPinot[0])
          that.newToPoint.lnt = Number(newPinot[1])
          //基本地图加载
            var map = new AMap.Map("container", {
                resizeEnable: true,
                center: [ that.toPoint.lat,  that.toPoint.lnt],//地图中心点
                zoom: 16 //地图显示的缩放级别
            });
            //构造路线导航类
            that.$nextTick(()=>{
              AMap.plugin('AMap.Driving', function() {
              var driving = new AMap.Driving({
                  map: map,
                  panel: that.$refs.driving,
                   // 驾车路线规划策略，AMap.DrivingPolicy.LEAST_TIME是最快捷模式
                  policy: AMap.DrivingPolicy.LEAST_TIME
              });
              // 根据起终点经纬度规划驾车导航路线
              driving.search(new AMap.LngLat(that.toPoint.lat,  that.toPoint.lnt), new AMap.LngLat(that.newToPoint.lat, that.newToPoint.lnt), function(status, result) {
                  // result 即是对应的驾车导航信息，相关数据结构文档请参考  https://lbs.amap.com/api/javascript-api/reference/route-search#m_DrivingResult
                  if (status === 'complete') {
                    console.log('绘制驾车路线完成');
                      //log.success('绘制驾车路线完成')
                  } else {
                    console.log('获取驾车数据失败：' + result);
                  }
              });
            })
            that.$refs.container.style.height="92.8%"
          })
          map.on("complete", function(){
            console.log("地图加载完成！");  
           // that.wabash()
          });
        },
        //驾车地图
        webMap(){
          let that = this
          var locDate = this.getQueryVariable('location')
          var newLocDate = this.getQueryVariable('newLocation')
          var pinot = locDate.split(',')
          var newPinot = newLocDate.split(',')
          that.toPoint = this.tobdMap(Number(pinot[0]), Number(pinot[1]))
          that.newToPoint = this.tobdMap(Number(newPinot[0]), Number(newPinot[1]))
        console.log(that.toPoint);
          var map = new BMapGL.Map("container");
          map.centerAndZoom(new BMapGL.Point(that.toPoint.lng,that.toPoint.lat), 16);
          map.enableScrollWheelZoom(true);
          var start = new BMapGL.Point(that.toPoint.lng,that.toPoint.lat);
          var end = new BMapGL.Point(that.newToPoint.lng,that.newToPoint.lat);
          that.$nextTick(()=>{
            var driving = new BMapGL.DrivingRoute(map, {
            renderOptions: {map: map, panel: that.$refs.driving},
                policy: 0,
            });
            driving.search(start,end);
            that.$refs.container.style.height="92.8%"
          })
        },
        //取cookie中的值
        getCookie(name) {
            var prefix = name + "="
            var start = document.cookie.indexOf(prefix)
        
            if (start == -1) {
                return null;
            }
        
            var end = document.cookie.indexOf(";", start + prefix.length)
            if (end == -1) {
                end = document.cookie.length;
            }
        
            var value = document.cookie.substring(start + prefix.length, end)
            return unescape(value);
        },
        //获取路由参数
        getQueryVariable(variable){
          var query = window.location.search.substring(1);
          var vars = query.split("&");
          for (var i=0;i<vars.length;i++) {
                  var pair = vars[i].split("=");
                  if(pair[0] == variable){return pair[1];}
          }
          return(false);
        },
        // 返回
        onClickLeft() {
          console.log('返回');
          window.history.go(-1)
        },
        onTabsClick(name,title){
          let domId = "driving"
          if(name=="2"){
            domId = "result"
            this.amapTrans()
          }else if(name=="3"){
            domId = "riding"
            this.walkAmap()
          }else if(name=="1"){
            domId = "driving"
            this.webAmap()
          }
          this.$nextTick(()=>{
            let wrapId = document.getElementById(domId)
            if(wrapId.childNodes.length!==0){
              let chain = wrapId.childNodes[0]
              let child = wrapId.childNodes[1]
              wrapId.removeChild(chain)
              wrapId.removeChild(child)
            }
          })
        },
        //高德公交
        amapTrans(){
          let that =this
          var locDate = this.getQueryVariable('location')
          var newLocDate = this.getQueryVariable('newLocation')
          var pinot = locDate.split(',')
          var newPinot = newLocDate.split(',')
          that.toPoint.lat = Number(pinot[0])
          that.toPoint.lnt = Number(pinot[1])
          that.newToPoint.lat = Number(newPinot[0])
          that.newToPoint.lnt = Number(newPinot[1])
          var map = new AMap.Map("container", {
              resizeEnable: true,
              center: [ that.toPoint.lat,  that.toPoint.lnt],//地图中心点,
              zoom: 13 //地图显示的缩放级别
          });
          that.$nextTick(()=>{
            AMap.plugin('AMap.Transfer', function() {
              var transOptions = {
                  map: map,
                  city: '西安',
                  panel: that.$refs.result, 
                  policy: AMap.TransferPolicy.LEAST_TIME
              };
              //构造公交换乘类
              var transfer = new AMap.Transfer(transOptions);
              //根据起、终点坐标查询公交换乘路线
              transfer.search(new AMap.LngLat(that.toPoint.lat,that.toPoint.lnt), new AMap.LngLat( that.newToPoint.lat, that.newToPoint.lnt), function(status, result) {
                  // result即是对应的公交路线数据信息，相关数据结构文档请参考  https://lbs.amap.com/api/javascript-api/reference/route-search#m_TransferResult
                  if (status === 'complete') {
                    console.log('绘制公交路线完成')
                  } else {
                    console.log('公交路线数据查询失败' + result)
                  }
              });
            that.$refs.container.style.height="92.8%"
              //that.wabash()
            })
          })
          map.on("complete", function(){
            console.log("地图加载完成！");  
            //that.wabash()
          });
        },
        //公交
        transMap(){
          let that = this
          var map = new BMapGL.Map("container");         
          map.centerAndZoom(new BMapGL.Point(that.toPoint.lng,that.toPoint.lat), 16);
          var start = new BMapGL.Point(that.toPoint.lng,that.toPoint.lat)    //"百度大厦";
          var end = new BMapGL.Point(that.newToPoint.lng,that.newToPoint.lat);               //"北京邮电大学西门";
          var routePolicy = [BMAP_TRANSIT_POLICY_RECOMMEND,BMAP_TRANSIT_POLICY_LEAST_TIME,BMAP_TRANSIT_POLICY_LEAST_TRANSFER,BMAP_TRANSIT_POLICY_LEAST_WALKING,BMAP_TRANSIT_POLICY_AVOID_SUBWAYS,BMAP_TRANSIT_POLICY_FIRST_SUBWAYS];
          map.enableScrollWheelZoom(true);
          map.clearOverlays(); 
          that.$nextTick(()=>{
            var transit = new BMapGL.TransitRoute(map, {
              renderOptions: {map: map, panel: that.$refs.result},
                  policy: 0,
            }); 
            transit.setPolicy(routePolicy[0]);
            transit.search(start,end);
          })
        },
        //骑行
        ridingMap(){
          let that = this
          var map = new BMapGL.Map("container");         
          map.centerAndZoom(new BMapGL.Point(that.toPoint.lng,that.toPoint.lat), 16);
          var start = new BMapGL.Point(that.toPoint.lng,that.toPoint.lat)    //"百度大厦";
          var end = new BMapGL.Point(that.newToPoint.lng,that.newToPoint.lat);               //"北京邮电大学西门";
          map.enableScrollWheelZoom(true);
          map.clearOverlays(); 
          that.$nextTick(()=>{
            var walking = new BMapGL.WalkingRoute(map, {
              renderOptions: {map: map, panel: that.$refs.riding},
                  policy: 0,
            });
            walking.search(start,end);
            //console.log(that.$refs.reference.style.height);
            //that.$refs.container.style.height="40%"

          })
        },
        //步行
        walkAmap(){
          let that = this
          var locDate = this.getQueryVariable('location')
          var newLocDate = this.getQueryVariable('newLocation')
          var pinot = locDate.split(',')
          var newPinot = newLocDate.split(',')
          that.toPoint.lat = Number(pinot[0])
          that.toPoint.lnt = Number(pinot[1])
          that.newToPoint.lat = Number(newPinot[0])
          that.newToPoint.lnt = Number(newPinot[1])
          var map = new AMap.Map("container", {
              resizeEnable: true,
              center: [ that.toPoint.lat,  that.toPoint.lnt],//地图中心点
              zoom: 16 //地图显示的缩放级别
          });
          //骑行导航
          that.$nextTick(()=>{
            AMap.plugin('AMap.Walking', function() {
              var riding = new AMap.Walking({
                  map: map,
                  panel: that.$refs.riding
              }); 
              //根据起终点坐标规划骑行路线
              riding.search([that.toPoint.lat,  that.toPoint.lnt],[that.newToPoint.lat, that.newToPoint.lnt], function(status, result) {
                  // result即是对应的骑行路线数据信息，相关数据结构文档请参考  https://lbs.amap.com/api/javascript-api/reference/route-search#m_RidingResult
                  if (status === 'complete') {
                    console.log('绘制骑行路线完成')
                    //that.wabash()
                  } else {
                    console.log('骑行路线数据查询失败' + result)
                  }
              });
            })
            that.$refs.container.style.height="92.8%"
          })    
          map.on("complete", function(){
            console.log("地图加载完成！");  
           // that.wabash()
          });
        },
        wabash(){
            let domId = ""
            if(this.activeName=='1'){
              domId = "driving"
            }else if(this.activeName=='2'){
              domId = "result"
            }else if(this.activeName=='3'){
              domId = "riding"
            }
            let wrapId = document.getElementById(domId)
            if(!wrapId){
              return
            }
            let isExpand =wrapId.getElementsByClassName('amap-call').length > 0;
            let callLei = wrapId.getElementsByClassName("amap-call")
            console.log(callLei);
            if (isExpand) {
              // document.getElementsByClassName("amap-call")[0].appendChild(image)
              let image = document.createElement("img")
              image.src = "./images/jy-ico2.png";
              callLei[0].appendChild(image)
              var newText = document.createTextNode("去这里");
              callLei[0].appendChild(newText);
              var child =  callLei[0].childNodes[0];
              callLei[0].removeChild(child);  
             // callLei[0].childNodes[0].data ="去这里"
              // document.getElementsByClassName("amap-call")[0].innerText = "去这里"
              // return;
            }
            return;
        },
        watchExpand(){
          this.timeExploit= setInterval(() => {
            let domId = "result"
            if(this.activeName=='2'){
              domId = "result"
            }else if(this.activeName=='3'){
              domId = "riding"
            }

            let wrapId = document.getElementById(domId)
            if(!wrapId){
              return
            }
            let isExpand = wrapId.getElementsByClassName('expand').length > 0;
            if (isExpand && this.uptimeDate !== 'up') {
              this.uptimeDate = 'up';
              this.$refs.container.style.height="55%"
              return;
            }
            if (!isExpand && this.uptimeDate !== 'down'){
              this.uptimeDate = 'down';
              this.$refs.container.style.height="80%"
            }
            return;
          }, 500);
        }
      },
      created(){
      },  
      beforeMount() {
        console.log("挂载前生命周期");
      },
      mounted() {
        console.log("挂载完成生命周期");
        console.log(window.location.search.substring(1));
          this.webAmap()
         // this.watchExpand()
      },
      beforeDestroy() {
        clearInterval(this.timeExploit);
      },
      watch: {
        'message'() {
          console.log("监视器调用");
        }
      }
    })
  </script> 
</body>
</html>
